# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# PyCharm
.idea/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Local DB file
*.db